<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
	<add key="baza" value="marigaz"></add>
	<add key="host" value="localhost"></add>
	<add key="vesiune" value="produs"></add>
	<add key="cod" value="cod1"></add>
	<add key="locatie" value="p"></add>
	<add key="flag" value="P"></add>
	<add key="loadTableQuery" value="SELECT id,tip,nume,cod,flag,export,mail,mailSend FROM Raport where flag =@flag"></add>
	<add key="LoadDetaliQuery" value="SELECT * from Raport_Detali where id_lista=@Id_Lista"></add>
	</appSettings>
</configuration>